<!DOCTYPE HTML>
<html>
	<head>
		<title>Ayush Sharma</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

			<div id="wrapper">

					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
							<h1>Ayush Sharma</h1>
							<p>Python/Full-Stack Developer</p>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="https://github.com/LeAyush98" class="fa-github">GitHub</a></li>
								<li><a href="https://www.instagram.com/ayush_shar7/" class="fa-instagram">Instagram</a></li>
								<li><a href="https://www.linkedin.com/in/ayush-sharma-913a3025b/" class="fa-linkedin">Linkedin</a></li>
							</ul>
						</footer>
					</section>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Ayush Sharma</li>
						</ul>
					</footer>

			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>